Repository crazywhalecc/static-php-cli, pull requests merged in 2024-02, with the labels that each got.

#324 Patch for PHP >= 8.4
  src/SPC/builder/windows/WindowsBuilder.php
Labels: bug, kind/php-src, os/windows

#333 Fix badges in README
  README-zh.md
  README.md
Labels: documentation

#337 Fix openpty bug for linux
  .github/workflows/tests.yml
  src/SPC/builder/extension/event.php
  src/SPC/store/SourcePatcher.php
  src/globals/test-extensions.php
Labels: bug, os/linux, kind/php-src

#329 add with-suggested-libs and with-suggested-exts
  config/ext.json
  src/SPC/builder/BuilderBase.php
  src/SPC/builder/unix/UnixBuilderBase.php
  src/SPC/builder/windows/WindowsBuilder.php
  src/SPC/command/BuildCliCommand.php
  src/SPC/command/BuildLibsCommand.php
  src/SPC/command/DownloadCommand.php
  src/SPC/command/DumpLicenseCommand.php
  src/SPC/command/dev/AllExtCommand.php
  src/SPC/store/FileSystem.php
  src/SPC/util/DependencyUtil.php
  src/globals/test-extensions.php
  tests/SPC/util/DependencyUtilTest.php
Labels: enhancement, kind/framework

#339 Add gettext support
  README-zh.md
  README.md
  config/ext.json
  config/lib.json
  config/source.json
  src/SPC/builder/Extension.php
  src/SPC/builder/extension/gettext.php
  src/SPC/builder/linux/SystemUtil.php
  src/SPC/builder/linux/library/gettext.php
  src/SPC/builder/linux/library/libxml2.php
  src/SPC/builder/macos/library/gettext.php
  src/SPC/builder/macos/library/libxml2.php
  src/SPC/builder/unix/library/gettext.php
  src/SPC/command/BuildCliCommand.php
  src/globals/test-extensions.php
  src/globals/tests/gettext.php
Labels: enhancement, kind/extension

#341 Apply default `--no-ansi` output
  src/SPC/command/BaseCommand.php
Labels: kind/framework

#348 Add curl and ssh2 support for windows
  README-zh.md
  README.md
  config/ext.json
  config/lib.json
  src/SPC/builder/windows/library/WindowsLibraryBase.php
  src/SPC/builder/windows/library/curl.php
  src/SPC/builder/windows/library/libssh2.php
  src/SPC/builder/windows/library/nghttp2.php
  src/SPC/store/FileSystem.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension, os/windows

#350 Add sqlite support for Windows
  config/ext.json
  config/lib.json
  src/SPC/builder/windows/library/sqlite.php
  src/globals/extra/Makefile-sqlite
  src/globals/test-extensions.php
Labels: enhancement, kind/extension, os/windows

#355 update postgresql version to 16.2
  config/source.json
  src/SPC/builder/unix/library/postgresql.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency

#357 Add ffi support for windows x64
  config/ext.json
  config/lib.json
  config/source.json
  src/SPC/builder/extension/ffi.php
  src/SPC/builder/windows/library/libffi_win.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension, os/windows

#358 Add custom Windows micro logo support
  src/SPC/ConsoleApplication.php
  src/SPC/builder/windows/WindowsBuilder.php
  src/SPC/command/BuildCliCommand.php
Labels: enhancement, kind/php-src, os/windows
