Repository crazywhalecc/static-php-cli, pull requests merged in 2024-06, with the labels that each got.

#470 Fix several patches & newer phpmicro support
  .github/workflows/tests.yml
  README-zh.md
  README.md
  config/source.json
  phpstan.neon
  src/SPC/builder/BuilderBase.php
  src/SPC/builder/BuilderProvider.php
  src/SPC/builder/Extension.php
  src/SPC/builder/freebsd/BSDBuilder.php
  src/SPC/builder/linux/LinuxBuilder.php
  src/SPC/builder/macos/MacOSBuilder.php
  src/SPC/builder/unix/UnixBuilderBase.php
  src/SPC/builder/windows/WindowsBuilder.php
  src/SPC/command/BaseCommand.php
  src/SPC/store/FileSystem.php
  src/SPC/store/SourcePatcher.php
  src/globals/common-tests/micro_zend_mm_heap_corrupted.txt
  src/globals/ext-tests/bcmath.php
  src/globals/ext-tests/bz2.php
  src/globals/ext-tests/calendar.php
  src/globals/ext-tests/curl.php
  src/globals/ext-tests/dom.php
  src/globals/ext-tests/filter.php
  src/globals/ext-tests/gd.php
  src/globals/ext-tests/gettext.php
  src/globals/ext-tests/intl.php
  src/globals/ext-tests/openssl.php
  src/globals/ext-tests/parallel.php
  src/globals/ext-tests/redis.php
  src/globals/ext-tests/swoole.php
  src/globals/ext-tests/uuid.php
  src/globals/ext-tests/zip.php
  src/globals/ext-tests/zlib.php
  src/globals/patch/spc_fix_libxml2_12_php80.patch
  src/globals/patch/spc_fix_libxml2_12_php81.patch
  src/globals/test-extensions.php
Labels: bug, kind/php-src

#471 Prevent use building uv on 7.4
  .github/workflows/tests.yml
  config/source.json
  src/SPC/builder/extension/uv.php
  src/SPC/builder/unix/library/libcares.php
  src/globals/extra/libcares_dnsinfo.h
  src/globals/test-extensions.php
Labels: bug, kind/extension

#472 Fix xlswriter with openssl conflict bug
  config/ext.json
  src/SPC/ConsoleApplication.php
  src/SPC/builder/extension/xlswriter.php
  src/globals/test-extensions.php
Labels: bug, kind/extension

#473 Ignore passed internal extensions
  src/SPC/command/BaseCommand.php
  src/SPC/command/BuildCliCommand.php
  src/SPC/command/DownloadCommand.php
  src/SPC/command/DumpLicenseCommand.php
  src/globals/test-extensions.php
Labels: bug, kind/extension

#474 Remove mongodb notes
  config/ext.json
Labels: documentation

#475 replace ext-zend-opcache with ext-opcache for spc extension list
  src/SPC/command/BaseCommand.php
  src/globals/defines.php
  src/globals/test-extensions.php
Labels: kind/framework

#478 Add phpmicro win32 mode support
  .github/workflows/tests.yml
  composer.lock
  src/SPC/ConsoleApplication.php
  src/SPC/builder/BuilderBase.php
  src/SPC/builder/unix/UnixBuilderBase.php
  src/SPC/builder/windows/WindowsBuilder.php
  src/SPC/command/BuildCliCommand.php
  src/SPC/doctor/CheckListHandler.php
  src/SPC/store/Downloader.php
  src/SPC/store/SourcePatcher.php
  src/SPC/util/CustomExt.php
  src/globals/ext-tests/dom.php
  src/globals/ext-tests/redis.php
  src/globals/ext-tests/zip.php
  src/globals/functions.php
  tests/SPC/store/FileSystemTest.php
Labels: enhancement, kind/php-and-sapi, os/windows

#481 fix: error when building libtiff
  .github/workflows/tests.yml
  src/SPC/builder/unix/library/libtiff.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency

#483 Update GMP ver, using official 6.3.0 version
  config/source.json
  src/globals/test-extensions.php
Labels: kind/dependency

#484 Add full gd support on Windows
  config/ext.json
  config/lib.json
  src/SPC/builder/windows/SystemUtil.php
  src/SPC/builder/windows/library/freetype.php
  src/SPC/builder/windows/library/libavif.php
  src/SPC/builder/windows/library/libjpeg.php
  src/SPC/builder/windows/library/libpng.php
  src/SPC/builder/windows/library/libwebp.php
  src/SPC/store/SourcePatcher.php
  src/globals/extra/gd_config_80.w32
  src/globals/extra/gd_config_81.w32
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#485 Increase memory_limit size
  src/SPC/builder/BuilderProvider.php
Labels: bug, kind/framework

#489 Add extension swow for Windows
  config/ext.json
  src/SPC/builder/extension/swow.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension, os/windows
