Repository crazywhalecc/static-php-cli, pull requests merged in 2024-09, with the labels that each got.

#534 Add --custom-git (-G) option for download command
  docs/en/guide/manual-build.md
  docs/zh/guide/manual-build.md
  src/SPC/command/DownloadCommand.php
Labels: enhancement, kind/framework

#539 Update redis to 6.0.2, add alternative license file searcher
  config/source.json
  docs/en/develop/source-module.md
  docs/zh/develop/source-module.md
  src/SPC/ConsoleApplication.php
  src/SPC/util/LicenseDumper.php
  src/globals/test-extensions.php
Labels: kind/extension

#544 Add extension gmssl support
  config/ext.json
  config/lib.json
  config/source.json
  src/SPC/builder/extension/gmssl.php
  src/SPC/builder/linux/library/gmssl.php
  src/SPC/builder/macos/library/gmssl.php
  src/SPC/builder/unix/library/gmssl.php
  src/SPC/builder/windows/library/gmssl.php
  src/globals/ext-tests/gmssl.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#546 Fix typo in README.md
  README.md
Labels: documentation

#548 Add optional workflow
  .github/workflows/tests.yml
  src/globals/test-extensions.php
Labels: kind/workflow
