Repository crazywhalecc/static-php-cli, pull requests merged in 2024-03, with the labels that each got.

#361 Add libtiff support
  config/lib.json
  config/source.json
  src/SPC/builder/linux/library/libtiff.php
  src/SPC/builder/macos/library/libtiff.php
  src/SPC/builder/unix/library/libtiff.php
  src/SPC/command/BuildCliCommand.php
  src/globals/test-extensions.php
Labels: enhancement, kind/dependency

#363 Add uuid/libuuid for linux and macos
  config/ext.json
  config/lib.json
  config/source.json
  src/SPC/ConsoleApplication.php
  src/SPC/builder/linux/library/libuuid.php
  src/SPC/builder/macos/library/libuuid.php
  src/SPC/builder/unix/library/libuuid.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#364 Fix libuuid random bug when `make clean`
  src/SPC/builder/unix/library/libuuid.php
Labels: bug, kind/dependency

#366 Add amqp/librabbitmq support for linux, macos, windows
  config/ext.json
  config/lib.json
  config/source.json
  src/SPC/builder/extension/amqp.php
  src/SPC/builder/linux/library/librabbitmq.php
  src/SPC/builder/macos/library/librabbitmq.php
  src/SPC/builder/unix/library/librabbitmq.php
  src/SPC/builder/windows/library/librabbitmq.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#367 Fix swoole compile bug on Linux
  src/SPC/ConsoleApplication.php
  src/SPC/builder/extension/swoole.php
  src/globals/test-extensions.php
Labels: bug, kind/extension, os/linux

#368 Fix windows curl build
  .github/workflows/tests.yml
  bin/spc.ps1
  config/ext.json
  config/lib.json
  src/SPC/builder/windows/WindowsBuilder.php
  src/SPC/builder/windows/library/curl.php
  src/SPC/builder/windows/library/nghttp2.php
  src/SPC/command/BuildCliCommand.php
  src/SPC/command/DownloadCommand.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency, os/windows

#371 Fix libxml2 build on RHEL/CentOS bug
  src/SPC/builder/macos/library/libxml2.php
Labels: bug, kind/dependency, os/linux

#374 Add pdo_sqlsrv for macOS and Linux
  config/ext.json
  config/source.json
  src/SPC/ConsoleApplication.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#383 Fix install-pkg different arch cache bug
  src/SPC/store/PackageManager.php
Labels: bug, kind/framework

#387 fix: false postive with binutils-gold
  src/SPC/doctor/item/LinuxToolCheckList.php
Labels: bug, kind/framework, os/linux

#388 Fix latest libsodium compatibility
  .github/FUNDING.yml
  composer.json
  config/source.json
  src/SPC/builder/extension/password_argon2.php
  src/SPC/builder/linux/library/libargon2.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency

#391 fix pkg-config build for macOS sonoma
  src/SPC/ConsoleApplication.php
  src/SPC/builder/traits/UnixLibraryTrait.php
  src/SPC/builder/unix/library/pkgconfig.php
  src/SPC/command/BaseCommand.php
  src/SPC/command/BuildCommand.php
Labels: bug, kind/dependency, os/macos
