Repository crazywhalecc/static-php-cli, pull requests merged in 2024-04, with the labels that each got.

#399 use old xz mirror, fix CVE-2024-3094
  config/source.json
  src/globals/test-extensions.php
Labels: bug, kind/dependency

#400 Cmake version check
  src/SPC/doctor/item/LinuxToolCheckList.php
  src/SPC/doctor/item/OSCheckList.php
Labels: bug, kind/workflow

#401 Add extension ds support
  config/ext.json
  config/source.json
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#402 Add extension simdjson support
  config/ext.json
  config/source.json
  src/SPC/builder/extension/simdjson.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#406 fix openssl build with corrupted pkg-config file
  src/SPC/builder/linux/library/openssl.php
  src/SPC/builder/macos/library/openssl.php
  src/SPC/builder/unix/library/postgresql.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency

#407 Add ext yac
  config/ext.json
  config/source.json
  src/SPC/builder/extension/yac.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#409 add qdbm for dba
  .github/workflows/tests.yml
  config/ext.json
  config/lib.json
  config/source.json
  src/SPC/builder/extension/dba.php
  src/SPC/builder/linux/library/qdbm.php
  src/SPC/builder/macos/library/qdbm.php
  src/SPC/builder/unix/library/qdbm.php
  src/SPC/builder/windows/WindowsBuilder.php
  src/SPC/builder/windows/library/qdbm.php
  src/globals/test-extensions.php
Labels: enhancement, kind/dependency

#410 Add macOS brew arch check for doctor
  src/SPC/doctor/item/MacOSToolCheckList.php
Labels: enhancement, os/macos, kind/workflow

#411 Fix libuuid build source
  config/lib.json
  config/source.json
  src/SPC/builder/unix/library/libuuid.php
  src/globals/test-extensions.php
  src/globals/tests/uuid.php
Labels: bug, kind/dependency

#412 Add Archlinux doctor support
  src/SPC/builder/linux/SystemUtil.php
  src/SPC/doctor/item/LinuxToolCheckList.php
Labels: enhancement, os/linux, kind/workflow

#414 fix: use C++ 17 compiler for ICU
  .github/workflows/tests.yml
  src/SPC/builder/extension/intl.php
  src/SPC/builder/linux/library/icu.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency

#422 Fix windows nghttp2 dynamic linking bug
  src/SPC/builder/windows/library/nghttp2.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency, os/windows

#423 Fix windows UPX_EXEC env var missing bug
  src/SPC/util/GlobalEnvManager.php
Labels: bug, kind/framework, os/windows

#424 Fix linux imagick openmp linking issue
  src/SPC/builder/extension/imagick.php
  src/SPC/builder/unix/library/imagemagick.php
  src/globals/test-extensions.php
Labels: bug, kind/extension, os/linux

#427 Fix Intel Mac build action
  .github/workflows/build-macos-x86_64.yml
Labels: bug, kind/workflow

#432 Fix ncurses pkg-config bug temporarily
  config/source.json
  src/globals/test-extensions.php
Labels: bug, kind/dependency
