Repository crazywhalecc/static-php-cli, pull requests merged in 2025-01, with the labels that each got.

#583 Support AST extension
  config/ext.json
  config/source.json
  src/globals/ext-tests/ast.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#585 Add legacy CentOS distro support
  src/SPC/builder/linux/SystemUtil.php
  src/SPC/doctor/item/LinuxToolCheckList.php
Labels: enhancement, kind/framework

#588 Fix libtiff dependencies, avoid using system libraries
  .github/workflows/build-unix.yml
  config/lib.json
  src/SPC/ConsoleApplication.php
  src/SPC/builder/unix/library/libtiff.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency

#590 Add extension dio support
  config/ext.json
  config/source.json
  src/SPC/builder/extension/dio.php
  src/globals/ext-tests/dio.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension
