Repository crazywhalecc/static-php-cli, pull requests merged in 2025-02, with the labels that each got.

#593 add opentelemetry extension support
  config/ext.json
  config/source.json
  docs/en/guide/troubleshooting.md
  docs/zh/guide/troubleshooting.md
  src/SPC/builder/extension/opentelemetry.php
  src/globals/ext-tests/opentelemetry.php
  src/globals/test-extensions.php
Labels: enhancement, kind/extension

#600 Fix windows curl build (using cmake)
  config/lib.json
  src/SPC/ConsoleApplication.php
  src/SPC/builder/Extension.php
  src/SPC/builder/extension/mbregex.php
  src/SPC/builder/windows/WindowsBuilder.php
  src/SPC/builder/windows/library/curl.php
  src/globals/test-extensions.php
Labels: bug, kind/dependency, os/windows

#605 Report why the sanity check for the cli target failed
  src/SPC/builder/unix/UnixBuilderBase.php
Labels: new feature, kind/framework

#609 Ignore any ini files when sanity check
  src/SPC/builder/Extension.php
  src/SPC/builder/extension/mbregex.php
  src/SPC/builder/extension/password_argon2.php
  src/SPC/builder/extension/swoole_hook_mysql.php
  src/SPC/builder/extension/swoole_hook_pgsql.php
  src/SPC/builder/extension/swoole_hook_sqlite.php
  src/SPC/builder/unix/UnixBuilderBase.php
Labels: bug, kind/framework
